.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
  .py-5{ 
    
         height:600px;
         width:1520px;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxIrAlTjIJg7v9lct9Tweaf_hvj8bpTbxlOGgVr49bf1b_KDI7eUOYUsB9qcY_RjpzrN0&usqp=CAU");
        background-repeat: no-repeat;
        background-size: cover;
         justify-content: center;
  }
  .d-flex{
    
    height:430px;
    width: 300px;
    margin-left: 600px;
    justify-content: center;
  }
  .payte{
       justify-content: center;
  }
  .co{
  color: aliceblue;
  }