.movies{
    background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-fashion-movie-film-theme-background-poster-picture-image_1060677.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  